@model IEnumerable<SistemaCIA.Models.Encounters.EncuentristasModel>

@{
    ViewData["Title"] = "Encuentristas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <div class="row">
        <div class="panel-heading division">
            <h3><img width="50" src="~/images/logo2.jpg" />Encuentristas</h3>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover">

            <thead style="background-color:#15748c; color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaDeNacimiento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)


                            @Html.DisplayFor(modelItem => item.Apellido1)


                            @Html.DisplayFor(modelItem => item.Apellido2)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
                        </td>
                        <td>
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="Edit" asp-route-id="@item.CodigoPersona"><small>Editar</small></a>
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="Details" asp-route-id="@item.CodigoPersona"><small>Detalles</small></a>
                            <a style="float:none;" class="btn btn-xs btn-eliminar" asp-action="Delete" asp-route-id="@item.CodigoPersona"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                        
                    
                }
            </tbody>
        </table>
    </div>
</div>



