@model IEnumerable<SistemaCIA.Models.ContextDb.Encuentros>

@{
    ViewData["Title"] = "Gestionar Encuentros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="CrearEncuentro">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asistencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDinero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalInvertido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalRestante)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDinero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInvertido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalRestante)
            </td>

            @if (item.Estado == "Disponible")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CodigoEncuentro">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CodigoEncuentro">Ver en detalle</a> |
                    <a asp-action="AgregarEquipoEnc" asp-route-id="@item.CodigoEncuentro">Agregar equipo de trabajo</a> |
                    <a asp-action="AgregarFinanzas" asp-route-id="@item.CodigoEncuentro">Agregar reporte de finanzas</a>
                </td>

            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CodigoEncuentro">Ver en detalle</a> 
                </td>
            }

        </tr>
}
    </tbody>
</table>
