@model IEnumerable<SistemaCIA.Models.ContextDb.Encuentros>

@{
    ViewData["Title"] = "Gestionar Encuentros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <div class="row">
        <div class="panel-heading division" style="border-bottom: solid 2px #1e7c9b">
            <h3><img width="50" src="~/images/logo2.jpg" />Gestionar encuentros</h3>
        </div>
    </div>
        <script>
            function mostrarOpciones(id) {
                if (id == 'down') {
                    document.getElementById('opciones').style.display = 'block';
                    document.getElementById('opciones').className = 'animated fadeIn';
                    document.getElementById('up').style.display = 'block';
                    document.getElementById('down').style.display = 'none';
                } else {
                    document.getElementById('opciones').style.display = 'none'
                    document.getElementById('down').style.display = 'block';
                    document.getElementById('up').style.display = 'none';
                }

            }
        </script>
        @foreach (var item in Model)
        {
            @if (item.Estado == "Disponible")
            {
                <div id="activo">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <b>Asistencia:</b>@Html.DisplayFor(modelItem => item.Asistencia)<br />
                                            <small style="font-size:17px;">Del @Html.DisplayFor(modelItem => item.FechaInicio) al @Html.DisplayFor(modelItem => item.FechaFinal)</small> 
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div style="background-color:white;" class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4><b>Lema</b></h4>@Html.DisplayFor(modelItem => item.Lema)
                                        </div>
                                        <div class="col-sm-6">
                                            <h4><b>Objetivo</b></h4>@Html.DisplayFor(modelItem => item.Objetivo)
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="jumbotron">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <h4>Finanzas</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4><b>Dinero disponible</b></h4>@Html.DisplayFor(modelItem => item.TotalDinero)
                                            </div>
                                            <div class="col-sm-4">
                                                <h4><b>Gastos realizados</b></h4>@Html.DisplayFor(modelItem => item.TotalInvertido)
                                            </div>
                                            <div class="col-sm-4">
                                                <h4><b>Restante</b></h4>@Html.DisplayFor(modelItem => item.TotalRestante)
                                            </div>
                                        </div>    
                                    </div>

                                    <center>
                                        <a id="down" style="color:black; font-size:50px; cursor:pointer;" onclick="mostrarOpciones(id)"><i class="fa fa-angle-double-down"></i></a>
                                        <a id="up" style="display:none;color:black; font-size:40px; cursor:pointer;" onclick="mostrarOpciones(id)"><i class="fa fa-angle-double-up"></i></a>
                                    </center>

                                    <div style="display:none;" id="opciones">
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 ge">
                                                <a asp-action="Edit" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-edit"></i>Editar</a>
                                            </div>
                                            <div class="col-md-4 col-xs-6 ge">
                                                <a asp-action="Details" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-plus"></i>Ver en detalle</a>
                                            </div>
                                            <div class="col-md-4 col-xs-6 ge">
                                                <a asp-action="AgregarEquipoEnc" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-id-badge"></i>Agregar equipo de trabajo</a>
                                            </div>
                                            <div class="col-md-4 col-xs-6 ge">
                                                <a asp-action="AgregarFinanzas" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-money"></i>Agregar reporte de finanzas</a>
                                            </div>
                                            <div class="col-md-4 col-xs-6 ge">
                                                <a asp-action="GestionarEncuentristas" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-cog"></i>Gestionar Encuentristas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>@Html.DisplayFor(modelItem => item.Nombre)<span class="pull-right">Asistencia:@Html.DisplayFor(modelItem => item.Asistencia)</span></h3>
                                <small>@Html.DisplayFor(modelItem => item.FechaInicio) @Html.DisplayFor(modelItem => item.FechaFinal)</small>
                            </div>
                            <div style="background-color:white;" class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4><b>Lema</b></h4>@Html.DisplayFor(modelItem => item.Lema)
                                    </div>
                                    <div class="col-sm-6">
                                        <h4><b>Objetivo</b></h4>@Html.DisplayFor(modelItem => item.Objetivo)
                                    </div>
                                </div>

                                <hr />

                                <div class="jumbotron">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <h4>Finanzas</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h4><b>Dinero disponible</b></h4>@Html.DisplayFor(modelItem => item.TotalDinero)
                                        </div>
                                        <div class="col-sm-4">
                                            <h4><b>Gastos realizados</b></h4>@Html.DisplayFor(modelItem => item.TotalInvertido)
                                        </div>
                                        <div class="col-sm-4">
                                            <h4><b>Restante</b></h4>@Html.DisplayFor(modelItem => item.TotalRestante)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-center ge">
                                        <a asp-action="Details" asp-route-id="@item.CodigoEncuentro"><i class="fa fa-fw fa-info-circle"></i>Ver en detalle</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            }


        }
    
</div>

