@model IEnumerable<SistemaCIA.Models.ContextDb.Academias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <div class="row">
        <div class="panel-heading division">
            <h3><img width="50" src="~/images/logo2.jpg" />Ofertas Academicas</h3>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#15748c; color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantNiveles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asistencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoIngreso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantNiveles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asistencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7" style="border-top:none;" align="right">
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="MatriculaAcademia" asp-route-id="@item.CodigoAcademias"><small>Matricular</small></a>
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="Edit" asp-route-id="@item.CodigoAcademias"><small>Editar</small></a>
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="Details" asp-route-id="@item.CodigoAcademias"><small>Detalles</small></a>
                            <a style="float:none;" class="btn btn-xs btn-next" asp-action="AdministrarPrograma" asp-route-id="@item.CodigoAcademias"><small>Programa</small></a>
                            <a style="float:none;" class="btn btn-xs btn-eliminar" asp-action="Delete" asp-route-id="@item.CodigoAcademias"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                        
                    
                }
            </tbody>
        </table>
    </div>
</div>

