@model IEnumerable<SistemaCIA.Models.ContextDb.Academias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <h3><img width="50" src="~/images/logo2.jpg" />Ofertas Academicas</h3>
    <hr />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#15748c; color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantNiveles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asistencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoIngreso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantNiveles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asistencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>

                    <tr style="background-color:#ededed;">
                        <td></td>
                        <td></td>
                        <td><div class="ge"><a asp-action="MatriculaAcademia" asp-route-id="@item.CodigoAcademias"><i style="color:#15748c;" class="fa fa-fw fa-angle-double-right"></i>Matricular</a></div></td>
                        <td><div class="ge"><a asp-action="Edit" asp-route-id="@item.CodigoAcademias"><i style="color:#15748c;" class="fa fa-fw fa-angle-double-right"></i>Edit</a></div></td>
                        <td><div class="ge"><a asp-action="Details" asp-route-id="@item.CodigoAcademias"><i style="color:#15748c;" class="fa fa-fw fa-angle-double-right"></i>Details</a></div></td>
                        <td><div class="ge"><a asp-action="AdministrarPrograma" asp-route-id="@item.CodigoAcademias"><i style="color:#15748c;" class="fa fa-fw fa-angle-double-right"></i>Programa</a></div></td>
                        <td><div class="ge"><a asp-action="Delete" asp-route-id="@item.CodigoAcademias"><i style="color:#15748c;" class="fa fa-fw fa-trash"></i></a></div></td>
                    </tr>
                        
                    
                }
            </tbody>
        </table>
    </div>
</div>

