@model IEnumerable<SistemaCIA.Models.ContextDb.Celulas>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $("#tbCelulas tbody tr").dblclick(function () {
            var Celula = {};
            var cod, nom;
            cod = Celula.Codigo = $(this).children().eq('0').text().trim();
            nom = Celula.Nombre = $(this).children().eq('1').text().trim() +
                " " + $(this).children().eq('2').text().trim() +
                " " + $(this).children().eq('3').text().trim();
            console.info(cod, nom);
            window.opener.obtenerCelula(Celula);
            window.close();

        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="panel-body">
            <h3><img width="50" src="~/images/logo2.jpg" />Celulas</h3>
            <hr style="border:1px solid #1e7c9b" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" /><br />
            </div>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <table id="tbCelulas" class="table table-hover table-condensed">
            <thead style="background-color:#15748c; color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoCelula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LiderNavigation.Nombre)
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lugar)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Hora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CelulaRaizNavigation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoCelula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LiderNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LiderNavigation.Apellido1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LiderNavigation.Apellido2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lugar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CelulaRaizNavigation.CodigoCelula)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/javascript" src="~/js/BusquedaTablas.js"></script>
    </div>
</div>