@model IEnumerable<SistemaCIA.Models.ContextDb.Cumbretimoteos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asistencia)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asistencia)
            </td>
            <td>
                <a asp-action="Matricula" asp-route-id="@item.CodigoCumbreTimoteos">Matricula</a> |
                <a asp-action="Edit" asp-route-id="@item.CodigoCumbreTimoteos">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoCumbreTimoteos">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
