@model IEnumerable<SistemaCIA.Models.ContextDb.Procesoox3>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid contenido">
    <div class="row">
        <div class="panel-heading division">
            <h3><img width="50" src="~/images/logo2.jpg" />Procesos</h3>
            <h4>@ViewBag.nombreAcademias - @ViewBag.fechaAcademias</h4>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#15748c; color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaFinal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantOrando)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalConvertidos)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantOrando)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalConvertidos)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CodigoProcesoOx3">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CodigoProcesoOx3">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CodigoProcesoOx3">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
